
hh-contest/.idea/hh-contest.iml
hh-contest/.idea/misc.xml
hh-contest/.idea/modules.xml
hh-contest/.idea/workspace.xml
hh-contest/task-1.js
Yandex&MIPT_Frontend/Course5_Capstone/Week_3.zip
Yandex&MIPT_Frontend/Course5_Capstone/.idea/workspace.xml
Yandex&MIPT_Frontend/Course5_Capstone/.idea/workspace.xml
