@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1366px;
    margin:0 auto;
}

.header{
    height: 800px;
    background-image:url("../img/slider-img.jpg");
}
.header .navbar .logo{
    margin-top: 63px;
    margin-left: 98px;
}
.header .navbar .navigation{
    margin-top:67px;
    margin-right: 211px;
    float:right;
}
.header .navbar .navigation .navigation-link{
    list-style-type: none;
    float:left;
}

.header .navbar .navigation .navigation-link a{
    font-family: 'Montserrat', sans-serif;
    display:block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: 1.4px;
    color: #8c8c8c;
    margin: 0px 5px 0px 5px;
    padding: 0 20px;
}
.header .navbar .navigation .navigation-link a:hover{
    color:#212121;
    -webkit-text-stroke: 1.5px #212121;  /* The only way i found to trick the text shift and save boldness of the hovered text*/
   border-bottom: 3px solid #212121;
}
.slider-text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 288px;
    margin-left:98px;
}
.slider-text-top{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: 1.8px;
    text-align: left;
    color: #43a047;
}
.slider-text-name{
    font-size: 62px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.16;
    letter-spacing: normal;
    color: #212121;
}
.slider-text-main{
    width: 458px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #6c6c6c;
}
.button-order{
    display: block;
    margin-top: 32px;
    margin-left: 98px;
    width: 212px;
    height: 45px;
    border-radius: 22.5px;
    background: #ffffff;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: 3.6px;
    padding-left:31px;
    text-decoration: none;
    color: #212121;
}
.button-order:hover{
    background: #ffffff url("../img/arrow.svg") no-repeat 173px 16px;
}
.radionav{
    margin-top:100px;
    margin-left:623px;
}
.radiobutton, .radiobutton-mid {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.radiobutton-mid{
    position: relative;
    top:5px;
    height: 40px;
    width: 40px;
    background-color: #212121;
    }
.radiobutton:hover{
    background-color: #212121;
}
.products{
    height:609px;
    border: 1px solid red;
}
.tab-controll{
    margin-top: 120px;
    margin-left: 107px;
}
.controller-link {
    list-style-type: none;
    float:left;
}
.controller-link a{
    padding: 0 20px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
}
.controller-link a:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}
.tab-controll .explore{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #212121;
    margin-left: 680px;
    position: relative;
    top:28px;
}
.tab-controll .explore::after{
    content: url("../img/arrow.svg");
    position: relative;
    left:12px;
}
.product-content{
    margin-top: 72px;
    margin-left: 98px;
}
.product-img{
    padding: 0 15px;
}
.product-img:hover{            /* Так и не получилось реализовать полноценный ховер, пропадает при наведении на текст */
    opacity: 0.3;
}
.product-img-1:hover ~ .details-1{
    opacity:1;
}
.product-img-2:hover ~ .details-2{
    opacity:1;
}
.product-img-3:hover ~ .details-3{
    opacity:1;
}
.product-img-4:hover ~ .details-4{
    opacity:1;
}
.details-1{
        width:270px;
    height: 270px;
    position:absolute;
    top:1100px;
    left:415px;
    opacity:0;
}
.details-2{
    width:270px;
    height: 270px;
    position:absolute;
    top:1100px;
    left:715px;
    opacity:0;
}
.details-3{
    width:270px;
    height: 270px;
    position:absolute;
    top:1100px;
    left:1020px;
    opacity:0;
}
.details-4{
    width:270px;
    height: 270px;
    position:absolute;
    top:1100px;
    left:1335px;
    opacity:0;
}
.details-arrow{
    position: relative;
    left:70px;
    bottom:10px;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: #ffffff url("../img/arrow.svg") no-repeat center;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
}
.details-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #212121;
    margin-left:25px;
}
.details-text{
    width: 206px;
    height: 33px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
}