
.container{
    padding: 0;
    margin: 0 auto;
    min-width: 99%;
}
*{
    background: #cfd0cf;
}
.game-title{
    text-align: center;
    line-height: 47px;
    font-family: Arial sans-serif;
    font-size: 42px;
    color: #434344;
    margin: 40px 0;
    min-width: 628px;
}
.game-box{
    /* TODO: NEED TO CENTER IT  UPD: DONE WITH WIDTH*/
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.card-row{
    list-style-type: none;
    text-align: center;
    display:inline-flex;
    position: relative;
}
.card-row .card{
  float:left;
    width:125px;
    height: 125px;
    margin: 0 12.5px 25px 12.5px;
    border:5px solid #ffffff;
    border-radius:9px;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
    background: rgba(34,171,146,1);
    background: -moz-linear-gradient(45deg, rgba(34,171,146,1) 0%, rgba(25,102,141,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(34,171,146,1) 0%, rgba(25,102,141,1) 100%);
    background: -o-linear-gradient(45deg, rgba(34,171,146,1) 0%, rgba(25,102,141,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(34,171,146,1) 0%, rgba(25,102,141,1) 100%);
    background: linear-gradient(45deg, rgba(34,171,146,1) 0%, rgba(25,102,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22ab92', endColorstr='#19668d', GradientType=1 );
    -webkit-perspective: 600px; /* Safari 4-8 */
    perspective: 600px;
}
.card-row .card:hover{
    transform: rotateY(180deg);
    transition: 0.6s;
    transform-style: preserve-3d;
}

.card-row .card:hover ~ #1-2{
display:unset;

}
.emoji{
    font-size:75px;
    text-align: center;
    line-height: 135px;
    background-color: transparent;
    display:none;
}
.clr{
    clear: both;
}
